<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>

<body>
    <section>
        <h1>{{ post.title }}</h1>
        <p class="comment">{{ post.body }}</p>
        <p><em>Criado em: {{ post.created_at }}</em></p>

        <h3>Comentarios:</h3>
        <ul>
            {% for comment in post.comments.all %}
            <li>
                {{ comment.text }} - <strong>{{ comment.author }}</strong>
                <p><em>Criado em: {{ comment.created_at }}</em></p>
                <div class="containter-button">
                    <a class="button" href="{% url 'comment_edit' post.id comment.id %}">Editar</a>
                    <form method="post" action="{% url 'comment_delete' post.id comment.id %}">
                        {% csrf_token %}
                        <button class="button" type="submit" onclick="return confirm('¿Você quer apagar o comentario?')">Apagar</button>
                    </form>
                </div>
            </li>
            
            {% endfor %}
        </ul>

        <form class="form" method="post">
            <h3>Adicionar Comentario</h3>
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Adicionar</button>
        </form>

        <a class="button-back" href="{% url 'post_list' %}">Voltar</a>
    </section>

    <script src="{% static 'blog/js/index.js' %}"></script>  

</body>
</html>